{% extends 'base.html' %}

{% block title %}{{ dish.name}}{% endblock %}

{% block content %}
    <h1>{{ dish.name }}</h1>
    <br>
    <p>{{ dish.description }}</p>
    <br>
    {% if dish.image %}
        <img src="{{ dish.image.url }}" alt="{{ dish.name }}" width="300" height="300">
    {% else %}
        <p>Nessuna immagine disponibile.</p>
    {% endif %}
    <br>
    <p>Prezzo:{{ dish.price }} €</p>
    <p>Ingredienti:</p>
    <ul>
        {% for ingredient in dish.ingredients.all %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and "Tavolo" in user.groups.all.0.name %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Aggiungi all'ordine</button>
    </form>
{% endif %}

    {% if user.is_authenticated and "Chef" in user.groups.all.0.name  %}
        <a class="btn btn-info" href="{% url 'menu:dish_statistics' dish.pk %}">Statistiche</a> <!-- Tasto per visualizzare le statistiche del piatto -->
        <a class="btn btn-success" href="{% url 'menu:dish_edit' dish.pk %}">Modifica</a> <!-- Tasto per modificare il piatto -->
        <a class="btn btn-danger" href="{% url 'menu:dish_delete' dish.pk %}">Elimina</a> <!-- Tasto per eliminare il piatto -->
    {% endif %}

{% endblock %}